body {
    font-family: 'Helvetica';
    font-weight: bold;
    background-color:black;
    color:#eee;
    overflow-x:hidden;
}

#header {
    width:100vw;
    height:80vh;
    position: absolute;
    left:0;
    top:0;
}
#header img {
    bottom:0;
    position: absolute;
    width:50vw;
}

#lyric-container {
    display: inline-block;
    width:30vw;
    height:100vh;
    position:absolute;
    left:65vw;
    top:80vh;
}
#player {
    width:80vw;
    z-index: 1;
    background-color:black;
    border:1px solid white;
    border-top:none;
    border-radius:3px;
    position:fixed;
    top:0;
    left:10vw;
    padding:10px;
}
#player button {
    border:1px solid white;
    background-color:black;
    color:white;
    padding:3px;
    outline:none;
}
#player button:hover {
    background-color:red;
}
#progressBar {
    width:80%;
    border-radius:50px;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color:black;
    border:1px solid white;
    outline:none;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    border:1px solid white;
    background: black;
    cursor: pointer;
  }
  .slider::-moz-range-thumb {
    -moz-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    border:1px solid white;
    background: black;
    cursor: pointer;
  }

#song-container1 {
    width:50vw;
    height:100vh;
    position:absolute;
    left:calc(50vw - 350px);
    top:80vh;
    display: inline-block;
}
.card {
    width:30vw;
    height:30vw;
    padding:5px;
}
.back { border:1px dashed salmon; text-align:center;}
.song-link {
    color:blue;
    text-decoration: underline;
    cursor: default;
}
.song-link:hover {
    cursor: pointer;
}
.back span { display: inline; }
.song-dl {
    color:green;
    cursor: pointer;
}
#song-container1 img {
    filter: grayscale(100%);
    transition: all .2s ease-in-out;
    cursor:default;
    width:30vw;
    height:30vw;
}
#song-container1 img:hover {
    filter: grayscale(0%);
    /*transform: scale(0.9);*/
    cursor:pointer;
}

@media only screen and (max-width: 768px) {
    #song-container1 img, .card {
        width:100vw;
        height:100vw;
    }
    #song-container1 { 
        left:0;
    }
    #poster {
        display:none;
    }
}


#poster img {
    width:50vw;
    height:50vw;
}

#poster button {
    width:36.5vw;
    height:10vh;
    font-size: 2em;
    background-color: lightblue;
    border:1px solid pink;
}
#poster button a {
    color:blue;
}

#creds {
    font-size:0.7em;
}

/*canvas {
    left: 0;
    top:0;
    position:fixed;
    width:100vw;
    height:100vh;
    z-index:-1;
}*/