body {
    font-family: 'Helvetica';
    font-weight: bold;
    background-color:black;
    color:#eee;
    overflow-x:hidden;
}

#header {
    width:100vw;
    height:80vh;
    position: absolute;
    left:0;
    top:0;
}
#header img {
    bottom:0;
    position: absolute;
    width:50vw;
}
#song-container1 {
    width:70vw;
    height:100vh;
    position:absolute;
    left:0;
    top:80vh;
    display: inline-block;
}
#song-container1 img {
    width:10vw;
    height:10vw;
    filter: grayscale(100%);
    transition: all .2s ease-in-out;
    cursor:default;
}
#song-container1 img:hover {
    width:10vw;
    height:10vw;
    filter: grayscale(0%);
    transform: scale(0.9);
    cursor:pointer;
}
#lyric-container {
    display: inline-block;
    width:30vw;
    height:100vh;
    position:absolute;
    left:65vw;
    top:80vh;
}
#player {
    width:50vw;
    z-index: 1;
    background-color:black;
    border:1px solid white;
    border-top:none;
    border-radius:3px;
    position:fixed;
    top:0;
    left:25vw;
    padding:10px;
}
#player button {
    border:1px solid white;
    background-color:black;
    color:white;
    padding:3px;
    outline:none;
}
#player button:hover {
    background-color:red;
}
#progressBar {
    width:80%;
    border-radius:50px;
    -webkit-appearance: none;
    background-color:black;
    border:1px solid white;
    outline:none;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    border:1px solid white;
    background: black;
    cursor: pointer;
  }

/*canvas {
    left: 0;
    top:0;
    position:fixed;
    width:100vw;
    height:100vh;
    z-index:-1;
}*/